<h1 class="admin_header">Test Cards</h1>

<section class="admin_content">
  <h4 class="test_card_category_header">Working Cards</h4>
  <ul class="admin_content_links test_cards">
    <li>
      <div class="test_card_number">
        <span>4242</span><span>4242</span><span>4242</span><span>4242</span>
      </div>
      <b>VISA</b>
    </li>
    <li>
      <div class="test_card_number">
        <span>4012</span><span>8888</span><span>8888</span><span>1881</span>
      </div>
      <b>VISA</b>
    </li>
    <li>
      <div class="test_card_number">
        <span>5555</span><span>5555</span><span>5555</span><span>4444</span>
      </div>
      <b>MC</b>
    </li>
    <li>
      <div class="test_card_number">
        <span>3782</span><span>822463</span><span>10005</span>
      </div>
      <b>AMEX</b>
    </li>
    <li>
      <div class="test_card_number">
        <span>6011</span><span>1111</span><span>1111</span><span>1117</span>
      </div>
      <b>Discover</b>
    </li>
  </ul>

  <h4 class="test_card_category_header">Declined Cards</h4>
  <ul class="admin_content_links test_cards">
    <li>
      <div class="test_card_number">
        <span>4000</span><span>0000</span><span>0000</span><span>0002</span>
      </div>
      <b>VISA</b>
    </li>
    <li>
      <div class="test_card_number">
        <span>4100</span><span>0000</span><span>0000</span><span>0019</span>
      </div>
      <b>VISA</b>
    </li>
    <li>
      <div class="test_card_number">
        <span>4000</span><span>0000</span><span>0000</span><span>0127</span>
      </div>
      <b>MC</b>
    </li>
    <li>
      <div class="test_card_number">
        <span>4000</span><span>0000</span><span>0000</span><span>0069</span>
      </div>
      <b>DISCOVER</b>
    </li>
  </ul>
</section>
