---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_vGgzGmtuJiNhxfBgARPVvK56
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1AY1VfDI91CCj3ih5KK5d2fc",
          "object": "token",
          "card": {
            "id": "card_1AY1VeDI91CCj3ihiGkMatm5",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2020,
            "fingerprint": "u6I2eU0Q49cZ4o4b",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "47.222.173.83",
          "created": 1498261699,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 23 Jun 2017 23:48:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card=tok_1AY1VfDI91CCj3ih5KK5d2fc&email=rosemary%40sporer.name&plan=base
    headers:
      Authorization:
      - Bearer sk_test_vGgzGmtuJiNhxfBgARPVvK56
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Atp9TBxDlO2cfw",
          "object": "customer",
          "account_balance": 0,
          "created": 1498261699,
          "currency": "usd",
          "default_source": "card_1AY1VeDI91CCj3ihiGkMatm5",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "rosemary@sporer.name",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AY1VeDI91CCj3ihiGkMatm5",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Atp9TBxDlO2cfw",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2020,
                "fingerprint": "u6I2eU0Q49cZ4o4b",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Atp9TBxDlO2cfw/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_Atp9L3O8vVLSRW",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1498261699,
                "current_period_end": 1500853699,
                "current_period_start": 1498261699,
                "customer": "cus_Atp9TBxDlO2cfw",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1AY1VfDI91CCj3ihD12NpdiK",
                      "object": "subscription_item",
                      "created": 1498261700,
                      "plan": {
                        "id": "base",
                        "object": "plan",
                        "amount": 499,
                        "created": 1497997490,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "TrelloClone base plan",
                        "statement_descriptor": null,
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_Atp9L3O8vVLSRW"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 499,
                  "created": 1497997490,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "TrelloClone base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1498261699,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Atp9TBxDlO2cfw/subscriptions"
          }
        }
  recorded_at: Fri, 23 Jun 2017 23:48:20 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Atp9TBxDlO2cfw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_vGgzGmtuJiNhxfBgARPVvK56
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
      [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Atp9TBxDlO2cfw
    body:
      encoding: UTF-8
      string: card=tok_1AY1VhDI91CCj3ihGW60eMRG
    headers:
      Authorization:
      - Bearer sk_test_vGgzGmtuJiNhxfBgARPVvK56
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Fri, 23 Jun 2017 23:48:22 GMT
recorded_with: VCR 3.0.3
