---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_vGgzGmtuJiNhxfBgARPVvK56
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1AY1ViDI91CCj3ihqKoBE1gf",
          "object": "token",
          "card": {
            "id": "card_1AY1ViDI91CCj3ihnRY135e7",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2020,
            "fingerprint": "u6I2eU0Q49cZ4o4b",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "47.222.173.83",
          "created": 1498261702,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 23 Jun 2017 23:48:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/bad_customer_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_vGgzGmtuJiNhxfBgARPVvK56
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: bad_customer_token",
            "param": "id"
          }
        }
  recorded_at: Fri, 23 Jun 2017 23:48:23 GMT
recorded_with: VCR 3.0.3
