---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/bad_customer_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_vGgzGmtuJiNhxfBgARPVvK56
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such customer: bad_customer_token",
            "param": "id"
          }
        }
  recorded_at: Fri, 23 Jun 2017 23:48:33 GMT
recorded_with: VCR 3.0.3
