---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card=tok_1AYMv6DI91CCj3ih4AzvdtDN&email=jdoe%40example.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_vGgzGmtuJiNhxfBgARPVvK56
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AuBIGRAP9d2bVG",
          "object": "customer",
          "account_balance": 0,
          "created": 1498344063,
          "currency": "usd",
          "default_source": "card_1AYMv6DI91CCj3ihkMQSSgAR",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "jdoe@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AYMv6DI91CCj3ihkMQSSgAR",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AuBIGRAP9d2bVG",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2017,
                "fingerprint": "u6I2eU0Q49cZ4o4b",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AuBIGRAP9d2bVG/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_AuBIJ89eTQc9BR",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1498344063,
                "current_period_end": 1500936063,
                "current_period_start": 1498344063,
                "customer": "cus_AuBIGRAP9d2bVG",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1AYMw7DI91CCj3ihc6ESktNW",
                      "object": "subscription_item",
                      "created": 1498344063,
                      "plan": {
                        "id": "base",
                        "object": "plan",
                        "amount": 499,
                        "created": 1497997490,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "TrelloClone base plan",
                        "statement_descriptor": null,
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_AuBIJ89eTQc9BR"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 499,
                  "created": 1497997490,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "TrelloClone base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1498344063,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AuBIGRAP9d2bVG/subscriptions"
          }
        }
  recorded_at: Sat, 24 Jun 2017 22:41:03 GMT
recorded_with: VCR 3.0.3
