---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_vGgzGmtuJiNhxfBgARPVvK56
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1AY1VRDI91CCj3ih06R9wtqR",
          "object": "token",
          "card": {
            "id": "card_1AY1VRDI91CCj3ihxgraGa0E",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2020,
            "fingerprint": "u6I2eU0Q49cZ4o4b",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "47.222.173.83",
          "created": 1498261685,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 23 Jun 2017 23:48:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card=tok_1AY1VRDI91CCj3ih06R9wtqR&email=sonya_spinka%40hauckdouglas.name&plan=base
    headers:
      Authorization:
      - Bearer sk_test_vGgzGmtuJiNhxfBgARPVvK56
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-06-05'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Atp9OwCN6dRoms",
          "object": "customer",
          "account_balance": 0,
          "created": 1498261685,
          "currency": "usd",
          "default_source": "card_1AY1VRDI91CCj3ihxgraGa0E",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "sonya_spinka@hauckdouglas.name",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AY1VRDI91CCj3ihxgraGa0E",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Atp9OwCN6dRoms",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2020,
                "fingerprint": "u6I2eU0Q49cZ4o4b",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Atp9OwCN6dRoms/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_Atp9dIFbHGkiuP",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1498261685,
                "current_period_end": 1500853685,
                "current_period_start": 1498261685,
                "customer": "cus_Atp9OwCN6dRoms",
                "discount": null,
                "ended_at": null,
                "items": {
                  "object": "list",
                  "data": [
                    {
                      "id": "si_1AY1VRDI91CCj3ih6OPzeUX6",
                      "object": "subscription_item",
                      "created": 1498261686,
                      "plan": {
                        "id": "base",
                        "object": "plan",
                        "amount": 499,
                        "created": 1497997490,
                        "currency": "usd",
                        "interval": "month",
                        "interval_count": 1,
                        "livemode": false,
                        "metadata": {},
                        "name": "TrelloClone base plan",
                        "statement_descriptor": null,
                        "trial_period_days": null
                      },
                      "quantity": 1
                    }
                  ],
                  "has_more": false,
                  "total_count": 1,
                  "url": "/v1/subscription_items?subscription=sub_Atp9dIFbHGkiuP"
                },
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "base",
                  "object": "plan",
                  "amount": 499,
                  "created": 1497997490,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "TrelloClone base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1498261685,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Atp9OwCN6dRoms/subscriptions"
          }
        }
  recorded_at: Fri, 23 Jun 2017 23:48:06 GMT
recorded_with: VCR 3.0.3
