<div class="add_list_item_wrapper">
  <a href="#" id="add_list_title">{{title}}</a>

  <form action="" method="post">
    <input type="text" name="new_list_title" id="new_list_title" placeholder="{{title}}" />
    <div id="add_list_submit_or_cancel">
      <input type="submit" value="Save" />
      <div id="cancel_add_list">
        <a href="#">
          <span>
            <div class="cross_x"></div>
          </span>
        </a>
      </div>
    </div>
  </form>
</div>
