<div class="board_selector_container">
  <h2>Create new board...</h2>

  <div id="create_board_menu">
    <h3>Create board</h3>
    <a href="#">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>

    <form action="" method="post">
      <label for="new_list_title">Title</label>
      <input type="text" name="new_list_title" id="new_list_title" placeholder="What are you planning?"/>
      <input type="submit" value="Create" />
    </form>
  </div>
</div>
