<div>
  <div class="close_modal_layer"></div>
</div>

<div class="board_options archive_all_cards_modal">
  <form action="" method="post">
    <h3>Archive List</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>
    <h4>Are you sure you want to archive this list and all its cards?</h4>
    <input type="submit" value="Archive" />
  </form>
</div>
