<div id=starred_boards>
  <div class="board_selection_header">
    <div id="star_icon_selection" class="board_selection_header_button"><span></span></div>
    <div class="board_selection_title board_selection_header_button"><h1>Starred Boards</h1></div>
  </div>

  <section class="boards_wrapper">
    <ul id="starred_boards_list">
    </ul>
  </section>
</div>

<div id=personal_boards>
  <div class="board_selection_header">
    <div id="person_icon" class="board_selection_header_button"><span></span></div>
    <div class="board_selection_title board_selection_header_button"><h1>Personal Boards</h1></div>
  </div>

  <section class="boards_wrapper">
    <ul id="personal_boards_list">
    </ul>
  </section>
</div>
