<div>
  <div class="close_modal_layer"></div>
</div>

<div class="board_options copy_list_modal">
  <form action="" method="post">
    <h3>Copy List</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>
    <h2>Name</h2>
    <textarea id="copy_list_textarea" name="title"></textarea>
    <input type="submit" value="Create List" />
  </form>
</div>
