<div>
  <div class="close_modal_layer"></div>
</div>

<div class="board_options add_board_from_header">
  <form action="" method="post">
    <h3>Create Board</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>
    <input type="text" id="new_board_title_choice" name="title" autocomplete="off" placeholder="Name your new board..." required />
    <input type="submit" value="Save" />
  </form>
</div>
