<div class="card_options delete_image" data-image="{{image_id}}">
  <form action="" method="post">
    <h3>Delete Image</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>

    <h4>Are you sure you want to delete this image?</h4>

    <input type="submit" value="Confirm" />
  </form>
</div>
