<div class="card_options card_due_date">
  <form action="" method="post">
    <h3>Due Date</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>

    <div class="select_month dropdown">
      <span class="category_span">Month</span>
      <span class="title_span"></span>
      <select id="month_dropdown_select" name="month" class="month_dropdown">
        <optgroup label="Month">
          <option data-days="31">January</option>
          <option data-days="28">February</option>
          <option data-days="31">March</option>
          <option data-days="30">April</option>
          <option data-days="31">May</option>
          <option data-days="30">June</option>
          <option data-days="31">July</option>
          <option data-days="31">August</option>
          <option data-days="30">September</option>
          <option data-days="31">October</option>
          <option data-days="30">November</option>
          <option data-days="31">December</option>
        </optgroup>
      </select>
    </div>

    <div class="select_day dropdown">
      <span class="category_span">Day</span>
      <span class="title_span"></span>
      <select id="day_dropdown_select" name="day" class="day_dropdown">
        <optgroup label="Day">
        </optgroup>
      </select>
    </div>

    <div class="select_time dropdown">
      <span class="category_span">Time</span>
      <span class="title_span"></span>
      <select id="time_dropdown_select" name="time" class="time_dropdown">
        <optgroup label="Time">
          <option>12:00 AM</option>
          <option>01:00 AM</option>
          <option>02:00 AM</option>
          <option>03:00 AM</option>
          <option>04:00 AM</option>
          <option>05:00 AM</option>
          <option>06:00 AM</option>
          <option>07:00 AM</option>
          <option>08:00 AM</option>
          <option>09:00 AM</option>
          <option>10:00 AM</option>
          <option>11:00 AM</option>
          <option>12:00 PM</option>
          <option>01:00 PM</option>
          <option>02:00 PM</option>
          <option>03:00 PM</option>
          <option>04:00 PM</option>
          <option>05:00 PM</option>
          <option>06:00 PM</option>
          <option>07:00 PM</option>
          <option>08:00 PM</option>
          <option>09:00 PM</option>
          <option>10:00 PM</option>
          <option>11:00 PM</option>
        </optgroup>
      </select>
    </div>

    <input type="submit" value="Save" />
    <input type="reset" value="Remove" />
  </form>
</div>
