<div class="card_options move_card">
  <form action="" method="post">
    <h3>Move Card</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>

    <div class="select_board dropdown">
      <span class="category_span">Board</span>
      <span class="title_span"></span>
      <select id="boards_dropdown_select" name="board" class="boards_dropdown">
        <optgroup label="Boards">
        </optgroup>
      </select>
    </div>
    <div class="select_list dropdown">
      <span class="category_span">List</span>
      <span class="title_span"></span>
      <select id="lists_dropdown_select" name="list" class="lists_dropdown">
        <optgroup label="Lists">
        </optgroup>
      </select>
    </div>
    <div class="select_position dropdown">
      <span class="category_span">Position</span>
      <span class="title_span"></span>
      <select id="positions_dropdown_select" name="position" class="positions_dropdown">
        <optgroup label="Positions">
        </optgroup>
      </select>
    </div>
    <input type="submit" value="Move" />
  </form>
</div>
