<div class="card_options card_add_image">
  <form action="" method="post">
    <h3>Add Image</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>
    <p>Acceptable file formats: jpg, jpeg, gif, png</p>
    <div id="picture_form_upload">
      <div id="add_image_button">Choose File</div>
      <div id="add_image_description">No file chosen</div>
    </div>
    <input type="submit" id="fake_image_form_submit" value="Save" />
  </form>
</div>
