<div class="card_options archive_card">
  <form action="" method="post">
    <h3>Archive Card</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>

    <h4>Are you sure you want to archive this card?</h4>

    <input type="submit" value="Confirm" />
  </form>
</div>
