<div>
  <div class="close_modal_layer"></div>
</div>

<div class="board_options notifications_modal">
  <form action="" method="post">
    <h3>List Actions</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>
    <div class="list_option_category">
      <a href="#" id="list_option_add_card">Add Card...</a>
      <a href="#" id="list_option_copy_list">Copy List...</a>
      <a href="#" id="list_option_move_list">Move List...</a>
    </div>
    <span class="border_span"></span>
    <div class="list_option_category">
      <a href="#" id="list_option_move_all_cards">Move All Cards in This List...</a>
      <a href="#" id="list_option_archive_all_cards">Archive All Cards in This List...</a>
    </div>
    <span class="border_span"></span>
    <div class="list_option_category">
      <a href="#" id="list_option_archive_list">Archive This List</a>
    </div>
  </form>
</div>
