<div>
  <div class="close_modal_layer"></div>
</div>

<div class="board_options move_list_modal">
  <form action="" method="post">
    <h3>Move List</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>
    <div class="select_list_board dropdown">
      <span class="category_span">Board</span>
      <span class="title_span"></span>
      <select id="boards_dropdown_select" name="board" class="boards_dropdown">
        <optgroup label="Boards">
        </optgroup>
      </select>
    </div>
    <div class="select_list_position dropdown">
      <span class="category_span">Position</span>
      <span class="title_span"></span>
      <select id="positions_dropdown_select" name="position" class="positions_dropdown">
        <optgroup label="Positions">
        </optgroup>
      </select>
    </div>
    <input type="submit" value="Move List" />
  </form>
</div>
