<div>
  <div class="close_modal_layer"></div>
</div>

<div class="board_options move_all_cards_modal">
  <form action="" method="post">
    <h3>Move All Cards</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>
    <div class="select_list_list dropdown">
      <span class="category_span">List</span>
      <span class="title_span"></span>
      <select id="lists_dropdown_select" name="list" class="lists_dropdown">
        <optgroup label="Lists">
        </optgroup>
      </select>
    </div>
    <input type="submit" value="Move Cards" />
  </form>
</div>
