<div>
  <div class="close_modal_layer"></div>
</div>

<div class="board_options notifications_modal">
  <form action="" method="post">
    <h3>Notifications</h3>
    <a class="x_out_card_options_window">
      <span>
        <div class="cross_x"></div>
      </span>
    </a>
    <h1>No Notifications</h1>
  </form>
</div>
